<!DOCTYPE html>
<html>
<head>
    {# templates/Exception/error404.html.twig #}
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<title>{% block title %}Error!{% endblock %}</title>
</head>

{% block body %}
    <div align='center'>
    <h1 style="color:red;" >Product code not found</h1>
        <h2>Enter another code</h2>
    </div>
{% endblock %}

</html>