{% extends 'base.html.twig' %}

{% block body %}
<header class="section-header">
    <nav class="navbar-expand-sm navbar-dark bg-secondary fixed-top">
        <div class="container">
            <div class="row">
                <div style="float:left">
                    <ul class="navbar-nav d-flex ">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="header-main py-md-5"></section>
<h1 class="logo-text" align="center">SimpleStore</h1>
<div style="float:right">
    <form action="#">
        <label>
            <input type="text" placeholder="Search.." name="search">
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
<table class="table">
    <th scope="col">
        <ul class="list-group">
            <h4 align="center">Category</h4>
            <li class="list-group-item"><a class="nav-link" href="#">CategoriaA</a></li>
            <li class="list-group-item"><a class="nav-link" href="#">CategoriaB</a></li>
            <li class="list-group-item"><a class="nav-link" href="#">CategoriaC</a></li>
            <li class="list-group-item"><a class="nav-link" href="#">CategoriaD</a></li>
            <li class="list-group-item"><a class="nav-link" href="#">CategoriaE</a></li>
        </ul>
    </th>

    <th scope="col">



        <div class="container">
            <div class="row mt-3 mb-4">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/600x400" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
                    <h2>{{ product.price }} €</h2>
                    <hr>

                    <b>Description: </b>{{ product.description }}
                    <b>Category: </b>{{ product.category }}

                    <form class="mt-4 p-4 bg-light" method="post">
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity">
                        </div>
                        <button class="btn btn-warning">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>

    </th>
</table>
<!-- footer -->
    <footer class="section-footer bg-secondary">
        <section class="footer-bottom row border-top-white">
            <div class="col-sm-12 col-md-12 col-xl-6 col-lg-6">
                <p class=" text-md-left text-dark-50"> By: S.S </br>
                    SimpleStore</p>
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-xl-6 col-lg-6">
                <p class="text-md-right text-black-50">
                    Phone: +333 333 333 <br> Fax: 03333333333
                </p>
            </div>
        </section>
    </footer>
<!-- footer end -->

{% endblock %}